# ── Azure OpenAI ───────────────────────────────────────────────────────────────
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_SPEED_DEPLOYMENT=o4-mini
AZURE_OPENAI_CORE_DEPLOYMENT=gpt-4o
AZURE_OPENAI_API_VERSION=2025-01-01-preview

# ── Azure OpenAI Whisper ───────────────────────────────────────────────────────
AZURE_OPENAI_WHISPER_KEY=
AZURE_OPENAI_WHISPER_ENDPOINT=
AZURE_OPENAI_WHISPER_DEPLOYMENT=whisper

# ── Azure Speech ───────────────────────────────────────────────────────────────
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=centralindia
